.root {
    background-color: wheat;
}

.mainDiv {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.debugBorder {
    border: 1px solid red;
}

.drawCanvas {
    margin: 0;
    border: 1px solid blue;
    width:500px;
    height:500px;
}